<div class="independence grid-x grid-padding-x align-center home-wrap">
  
  <h1 class = "centered">About the Creator</h1>
  <div class="page">
    <h4>
      Julian Baxandall is a software engineer and ultimate frisbee fanatic. 
    </h4>
    <img
    src="https://i.imgur.com/Rm638na.jpeg"
    alt="Julian Baxandall profile photo"
    >
    <h6>
      Julian grew up in Cambridge, Massachusetts before heading West to study at the University of California, Berkeley. During his time at Berkeley, 
      Julian played ultimate for Cal Ursa Major, studied psychology, and had an interest in CS. After graduating in 2022, 
      he attended a software engineering bootcamp at Launch Academy in Boston where he developed his skills in full-stack software engineering 
      and is now looking for work in the tech industry around the Bay Area. 
    </h6>
  </div>
</div>