<h1>Welcome to the CleanStack landing page</h1>
<div>
  <p>
    CleanStack is an all-in-one organizational tool for ultimate teams. 
  </p>

  <p>
    Organizing a team is a complicated process and off-the-field concerns can often drag
    captains and coaches' attention away from the actual playing of the sport. CleanStack
    seeks to help with the logistical headaches by being a hub for communication, scheduling 
    and organization and allowing teams to focus on the important part of the sport:
    the Beautiful Game (shoutout @aroy)
  </p>
</div>