<div class="independence grid-x grid-padding-x align-center page">
  <h1>Welcome to DiscConnect</h1>
  <div class="page">
    <h4>
      DiscConnect is an all-in-one organizational tool for ultimate teams. 
    </h4>
    
    <p>
      Organizing a team is a complicated process and off-the-field concerns can often drag
      captains and coaches' attention away from the actual playing of the sport. DiscConnect
      seeks to help with the logistical headaches by being a hub for communication, scheduling 
      and organization and allowing teams to focus on the important part of the sport:
      the Beautiful Game
    </p>
  </div>
</div>