body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-wrap{
    overflow: hidden;
    position: relative;
}

.full-page-image {
    width: 100%;
}

.bg {
    opacity: 0.15;
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
}

a {
    color:#ffc44f;
}

h1 {
    font-weight: bold;
}

.logo {
    font-family: myriad;
    color: #ffffff;
}

.independence {
    color: #374A67;
}

.navigation-option {
    font-weight: bold;
    color: #F4ECCD;
    background-color: #374A67;
}

.top-bar {
    color: #F4ECCD;
    background-color: #374A67;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
    z-index:10;
    box-shadow: 0 0 15px #374A67(0, 0, 0, 0.6); 
    -moz-box-shadow: 0 0 15px #374A67(0, 0, 0, 0.6); 
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.nav-bar {
    color: #F4ECCD;
    background-color: #374A67;
}

.footer-text {
    color: #f9f8f4;
    background-color: #374A67;
}

.footer {
    margin-top: auto;
    font-weight: normal;
    background-color: #374A67;
    color: #F4ECCD;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
}

.page {
    margin: 5vmin;
    padding: 10px;
    text-align: center;
    color: #374A67;
    background-color: #ffffff;
}

.authentication-page {
    margin: 5vmin;
    padding: 10px;
    color: #374A67;
}

.button {
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #374A67;
    font-weight: bold;
    color: #ffc44f;
}

.card {
    z-index:10;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); 
    background-color: #374A67;
    color: #fce725;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    border: 10px;
}

.invite {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-width:10px;
    border-style:solid;
    border-color: #374A67;
    color: #374A67;
    background-color: #f3e56a;
}

.cover-image {
    width: 85%;
}

.form {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    color: #374A67;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.rounded {
    border-radius: 10px;
}

.padded {
    margin: 30px;
    padding: 30px;
}


/* Leaderboard */
.container {
	width: 600px;
	height: auto;
}

.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}

.name {
	position: relative;
	display: inline-block;
	width: 75%;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
}

.user-workouts {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

